*{
    font-family: JetBrains Mono;
    margin: 0;
}

body{
    display: flex;
}

.nav-bar{
    display: inline;
    padding: 4px;
    position: relative;
    justify-content: flex-start;
    align-items: center;
}
.nav-bar li{
    display: inline-block;
    position: relative;
}